extends base.pug

block content
    section#introSection
        h1 Welcome to Nit's Code Academy
        h6 Eat Code Sleep Repeat
    section#missionSection
        h1 Our Mission
        div.card-div
            div.card-box
                h3 Perfection
                div.card
                    img.mission-img(src="./static/website-design-icon.png")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, veniam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel quaerat obcaecati iusto id nam in Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet optio eum itaque pariatur consectetur perferendis quos commodi consequuntur accusantium explicabo! 
            div.card-box
                h3 Quality
                div.card
                    img.mission-img(src="./static/web-code-icon.png")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, veniam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel quaerat obcaecati iusto id nam in Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, quaerat dolorum mollitia molestiae expedita necessitatibus soluta cupiditate praesentium quam minus.
            div.card-box
                h3 Accuracy
                div.card
                    img.mission-img(src="./static/typing-icon.png")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, veniam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel quaerat obcaecati iusto id nam in Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur saepe enim sed optio. Temporibus blanditiis nihil, a sint porro sed!
    section#sponsorsSection
        h1 Our Sponsors
        div.sponsors-tab
            img(src="./static/deezer-round-color-icon.png")
            img(src="./static/crime-hacker-icon.png")
            img(src="./static/reainbow-icon.png")
            img(src="./static/magic-wand-icon.png")
            img(src="./static/deezer-round-line-color-icon.png")